$cl-body: hsl(258, 60%, 98%);
$cl-container: #FFF;
$cl-text: hsl(244, 16%, 43%);
$cl-date: hsl(240, 17%, 73%);
$cl-title: hsl(244, 24%, 26%);
$cl-primary: #F15A29;
$cl-secondary: #0A3246;
$cl-secondary-opacity: rgba(10, 50, 70, 0.51);
$cl-fio: #6c6ce5;
$cl-brown: rgb(231, 231, 231);
