@use "../../styles/abstracts" as *;

.socials {
  display: flex;
  justify-content: center;
  column-gap: 1.75rem;
  margin: 0.5rem 0;
  z-index: 11;
}


@media screen and (max-width: 1024px) {
  .socials{
    left: -110px;
  }
}
